body{
	background-color: #f3f3f3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body > section, body > header, body > footer{
	width: 800px;
	margin: 0 auto;
}

body > header{
	text-align: center;
}

body > header h1{
	text-align: center;
	font-size: 20px;
}

body > section {
	boder: 1px solid black;
	min-height: 400px;
	display: block;
}

body > section menu{
	padding: 0;
	margin: 0
}

body > section menu label{
	font-size: .8em;
}

body > section menu > div, menu select{
	display: inline-block;
}

canvas{
	border: 1px solid grey;
	background-color: #fcfcfc;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 2px #ddd;
	width: 800px;
	height: 608px;
	margin: 0 auto;
	display: block;

}


@media only screen and (max-width: 800px) {
	body > section, body > header , body > footer{
		width: 100%;
	}
	canvas{
		width: 100%;
	}
}